@keyframes bg-move {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.intro__wrapper {
  .intro__general {
    text-align: center;
    font-family: Poppins-Semibold;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
  }

  .home__title {
    color: var(--White, #fff);
    font-family: Poppins-Semibold;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    gap: 10px;
    margin: 10px auto;
    justify-content: center;
    span {
      color: #7456ff;
    }
  }
  .general__end {
    color: rgba(153, 153, 153, 0.534);
    font-family: Poppins-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: normal;
  }

  .home__general {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 70px 5px;

    .left {
      width: 50%;
      .intro__title {
        p {
          color: var(--Sr-Grey, #999);
          text-align: justify;
          font-family: Poppins-Regular;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .home__buttons {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 50px;

        .home__download--btn {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 15px 20px;
          border-radius: 5px;
          background: var(--Pr-Lavender, #7456ff);

          span {
            color: var(--White, #fff);
            text-align: justify;
            font-family: Poppins-SemiBold;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          &:hover {
            background: var(--Pr-Lavender, #5f3ef3);
          }

          &:active {
            background: var(--Pr-Lavender, #7456ff);
            -webkit-box-shadow: 4px 4px 37px 0px #7456ff;
            -moz-box-shadow: 4px 4px 37px 0px #7456ff;
            box-shadow: 4px 4px 37px 0px rgba(117, 86, 255, 0.226);
          }
        }

        .home__btn {
          padding: 15px 75px;
          border-radius: 5px;
          border: 1px solid var(--White, #fff);
          background-image: linear-gradient(
            270deg,
            rgba(100, 181, 239, 0) 48.44%,
            #64b5ef 75.52%,
            rgba(100, 181, 239, 0) 100%
          );
          background-repeat: no-repeat;
          animation: bg-move linear 5s infinite;
          p {
            color: var(--White, #fff);
            text-align: justify;
            font-family: Poppins-SemiBold;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 80%;
          }

          &:active {
            -webkit-box-shadow: 4px 4px 37px 0px #7456ff;
            -moz-box-shadow: 4px 4px 37px 0px #7456ff;
            box-shadow: 4px 4px 37px 0px rgba(255, 255, 255, 0.384);
          }
        }
      }
    }

    .right {
      width: 50%;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: #fff;
        font-family: Poppins-Bold;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        margin-bottom: 25px;
      }

      p {
        color: var(--White, #fff);
        font-family: Poppins-Semibold;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .contact__btn {
        border-radius: 10px;
        border: 1px solid var(--Pr-Lavender, #7456ff);
        background: rgba(116, 86, 255, 0.1);
        padding: 15px 20px;
        background-image: linear-gradient(
          270deg,
          rgba(100, 181, 239, 0) 48.44%,
          #64b5ef 75.52%,
          rgba(100, 181, 239, 0) 100%
        );
        background-repeat: no-repeat;
        animation: bg-move linear 5s infinite;
        &:active {
          background: rgba(116, 86, 255, 0.3);
        }
      }

      .contact {
        color: var(--White, #ffffff8e);
        font-family: Poppins-Semibold;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

@media only screen and (max-width: 1297px) {
  .intro__wrapper {
    .home__general {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-direction: column-reverse;
      gap: 20px;
      .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .intro__title {
          p {
            text-align: center;
          }
        }

        .home__buttons {
          margin-top: 30px;
        }
      }

      .right {
        width: 100%;

        .res_h {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          a {
            width: 40%;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 855px) {
  .intro__wrapper {
    .intro__general {
      font-size: 30px;
    }

    .home__title {
      font-size: 46px;
    }

    .general__end {
      font-size: 16px;
    }

    .home__general {
      margin: 30px auto;

      .left {
        .intro__title > p {
          font-size: 16px;
        }

        .home__buttons {
          .home__download--btn {
            padding: 10px 15px;
            span {
              font-size: 16px;
            }
          }

          .home__btn {
            padding: 10px 65px;
            p {
              font-size: 16px;
            }
          }
        }
      }

      .right {
        h3 {
          font-size: 24px;
        }

        .res_h {
          a {
            padding: 15px;
            .contact {
              font-size: 16px;
            }

            i {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 642px) {
  
  
}