@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins-Semibold;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(101deg, #0f0f0f 7.93%, #060021 100%);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 30px;
}
