.page_404 {
  padding: 40px 0;
  background: linear-gradient(101deg, #0f0f0f 7.93%, #060021 100%);
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  // background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

h1 {
  text-transform: uppercase;
  font-family: Poppins-Semibold;
}

h3 {
  font-family: Poppins-Bold;
}

@media only screen and (max-width: 600px) {
  .four_zero_four_bg h1 {
    font-size: 40px;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-size: cover;
  }
}
